.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
    padding-bottom: 50px;
}

.empty {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}